In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("DC_Properties.csv")

C:\Users\ASUS\AppData\Local\Programs\Python\Python36-32\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data= data.dropna(subset= ["SALEDATE","PRICE"])
data = data.drop(columns="Unnamed: 0")
data = data.drop_duplicates()

In [4]:
import datetime
from datetime import datetime
days=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
weekdaySeries=pd.DataFrame()
weekdaySeries["Weekdays"]=data["SALEDATE"]
weekdaySeries["PRICE"]=data["PRICE"]
for i in data.index:
    weekdaySeries["Weekdays"][i] = days[datetime.strptime(data["SALEDATE"][i],'%Y-%m-%d %H:%M:%S').weekday()]

C:\Users\ASUS\AppData\Local\Programs\Python\Python36-32\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
data["SALEDATE"]

0         2003-11-25 00:00:00
2         2016-06-21 00:00:00
3         2006-07-12 00:00:00
5         2010-02-26 00:00:00
7         2011-09-29 00:00:00
8         2018-05-03 00:00:00
14        2011-09-30 00:00:00
16        2010-11-04 00:00:00
19        2001-07-23 00:00:00
20        2016-01-12 00:00:00
22        2006-01-09 00:00:00
23        2012-08-21 00:00:00
24        2012-07-25 00:00:00
25        1996-04-02 00:00:00
27        2005-04-06 00:00:00
29        2013-12-11 00:00:00
32        1999-03-30 00:00:00
37        1997-10-20 00:00:00
40        2006-08-28 00:00:00
41        2016-09-14 00:00:00
42        2015-09-16 00:00:00
43        2018-03-30 00:00:00
44        2017-05-01 00:00:00
45        2001-11-08 00:00:00
46        2011-03-18 00:00:00
48        1999-12-03 00:00:00
50        2009-10-05 00:00:00
52        2006-08-08 00:00:00
54        1997-09-26 00:00:00
55        2004-12-20 00:00:00
                 ...
158918    2015-01-15 00:00:00
158919    2015-01-21 00:00:00
158920    2017-05-01 00:00:00
158921    2017-04-11 00:00:00
158924    2004-11-03 00:00:00
158926    2014-06-20 00:00:00
158928    2017-05-24 00:00:00
158929    2012-12-19 00:00:00
158930    2007-06-25 00:00:00
158931    2005-07-06 00:00:00
158932    2014-07-09 00:00:00
158933    2017-01-12 00:00:00
158934    2017-02-23 00:00:00
158935    2016-12-28 00:00:00
158936    2016-12-28 00:00:00
158938    2015-03-02 00:00:00
158939    2016-09-30 00:00:00
158943    2004-11-08 00:00:00
158944    2016-07-19 00:00:00
158945    2006-07-13 00:00:00
158946    2015-02-11 00:00:00
158947    2008-06-30 00:00:00
158948    2012-10-22 00:00:00
158949    2015-06-09 00:00:00
158950    2015-12-24 00:00:00
158951    2009-11-12 00:00:00
158952    2015-04-03 00:00:00
158953    2013-10-04 00:00:00
158954    2008-09-30 00:00:00
158955    2015-04-14 00:00:00
Name: SALEDATE, Length: 97838, dtype: object

In [6]:
weekdaySeries

         Weekdays      PRICE
0         Tuesday  1095000.0
2         Tuesday  2100000.0
3       Wednesday  1602000.0
5          Friday  1950000.0
7        Thursday  1050000.0
8        Thursday  1430000.0
14         Friday  1325000.0
16       Thursday  1240000.0
19         Monday   592250.0
20        Tuesday    33232.0
22         Monday   907400.0
23        Tuesday  1065000.0
24      Wednesday  1100000.0
25        Tuesday    20000.0
27      Wednesday   703700.0
29      Wednesday  1210000.0
32        Tuesday   130500.0
37         Monday   339500.0
40         Monday  1050000.0
41      Wednesday  1550000.0
42      Wednesday  1599900.0
43         Friday  1700000.0
44         Monday  1700000.0
45       Thursday   450000.0
46         Friday   846000.0
48         Friday   348500.0
50         Monday   849000.0
52        Tuesday  1312000.0
54         Friday   390000.0
55         Monday   772500.0
...           ...        ...
158918   Thursday   839000.0
158919  Wednesday   915500.0
158920     Monday   880000.0
158921    Tuesday  1120000.0
158924  Wednesday   269000.0
158926     Friday   385000.0
158928  Wednesday   632400.0
158929  Wednesday   574000.0
158930     Monday   365000.0
158931  Wednesday   405000.0
158932  Wednesday   505000.0
158933   Thursday   520000.0
158934   Thursday   499900.0
158935  Wednesday   451000.0
158936  Wednesday   564900.0
158938     Monday   660000.0
158939     Friday   380000.0
158943     Monday   539000.0
158944    Tuesday   908500.0
158945   Thursday   450000.0
158946  Wednesday   485355.0
158947     Monday   320000.0
158948     Monday   460000.0
158949    Tuesday   550000.0
158950   Thursday   635000.0
158951   Thursday   389000.0
158952     Friday   399900.0
158953     Friday   416000.0
158954    Tuesday   600000.0
158955    Tuesday   215100.0

[97838 rows x 2 columns]

In [7]:
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import colors
from matplotlib.ticker import PercentFormatter

In [12]:
plt.figure(figsize=(8,8))
target_count = weekdaySeries.groupby(weekdaySeries["Weekdays"])["Weekdays"].count()
target_count.plot(kind='bar', title='Sale Number vs Days of Week',grid=True, color='#607c8e')
plt.xlabel('Days of Week')
plt.ylabel('Number of House Sale')
plt.tight_layout()
plt.savefig("saleNum.svg")
plt.savefig("saleNum.png")
plt.show()

In [9]:
plt.figure(figsize=(8,8))
target_count = weekdaySeries.groupby(weekdaySeries["Weekdays"])["PRICE"].mean()
target_count.plot(kind='bar', title='Mean Price of Sold Houses vs Days of Week',grid=True, color='#607c8e')
plt.xlabel('Days of Week')
plt.ylabel('Mean Price of Sold Houses($)')
plt.tight_layout()
plt.savefig("price_weekday.svg")
plt.savefig("price_weekday.png")
plt.show()

In [10]:
target_count

Weekdays
Friday       5.113442e+05
Monday       5.242497e+05
Saturday     5.190823e+05
Sunday       3.049411e+05
Thursday     5.177559e+05
Tuesday      1.443108e+06
Wednesday    5.298324e+05
Name: PRICE, dtype: float64

In [13]:
df=pd.DataFrame()
df["Weekdays"]=weekdaySeries["Weekdays"].astype('category').cat.codes
df["PRICE"]= weekdaySeries["PRICE"]

from scipy.stats.mstats import kruskal
allOf =[k.PRICE.array for k in [ df[df["Weekdays"]==i]  for i in df.Weekdays.unique()] ]
F, p = kruskal(  *allOf )                      
F, p

C:\Users\ASUS\AppData\Local\Programs\Python\Python36-32\lib\site-packages\scipy\stats\mstats_basic.py:1219: RuntimeWarning: overflow encountered in int_scalars
  H = 12./(ntot*(ntot+1)) * (sumrk**2/ngrp).sum() - 3*(ntot+1)
C:\Users\ASUS\AppData\Local\Programs\Python\Python36-32\lib\site-packages\scipy\stats\mstats_basic.py:1222: RuntimeWarning: overflow encountered in long_scalars
  T = 1. - sum(v*(k**3-k) for (k,v) in iteritems(ties))/float(ntot**3-ntot)

(2384960.4472080776, 0.0)